<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pizzeria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="navItem"><a th:href="@{/}"/>START</a></li>
                <li class="navItem"><a th:href="@{/order}"/>MENU</a></li>
                <li class="navItem"><a th:href="@{/order/cart}"/>Koszyk</a></li>
                <li class="navItem"><a th:href="@{/authorization}"/>LOGOWANIE</a></li>
                <li class="navItem"><a href="#contact">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <section id="slider" class="slider">
        <div class="heading-box">
            <h1>Taste our awesome meals</h1>
            			
			<div class="flex-container" >				

				<div class="flex-item" th:each="item :${itemList}">				
					<form action="/order/addItems" method="get">						
						<h4 th:text="${item.name}" />
						<p th:text="${item.description}"/>
						<p th:text="${item.price}"> zł </p>
						<input type="hidden" name="productId" th:value="${item.id}">
						<input type="number" step="1"  name = "quantity" placeholder="wpisz ile chcesz porcji">szt<br>
						<button>Add to cart</button>						
					</form>
				</div>			

			</div>
			
            <a href="/order/cart" class="btn">
               See your shopping cart <i class="fas fa-arrow-down"></i>
            </a>
			
        </div>
    </section>
    <footer>
        <div class="flex-container">
            <div class="flex-item">
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="copy flex-item">
                <p>&copy; 2020 PizzaBar<p>
            </div>
            <div class="flex-item">
                <ul class="sitemap">
                    <li><a href="#" >Contact Us</a></li>
                    <li><a href="#">List of stores</a></li>
                    <li><a href="#">Blog</i></a></li>
                </ul>
            </div>
        </div>
    </footer>  

</body>
</html>







</div>

</body>
</html>