<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
</head>
<body>
<h1>Rejestracja</h1>
<form  method="POST">
    Imię: <input type="text" name="firstName" /><br/>
    Nazwisko: <input type="text" name="lastName" /><br/>
    Nazwa użytkownika: <input type="text" name="username" /><br/>
    Hasło: <input type="password" name="password" /><br/>

    <input type="submit" value="Zarejestruj" />
</form>

</body>
</html>