<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
    <link rel="stylesheet" th:href="@{/static/styles.css}"/>
</head>
<body>
    <h2>Twój koszyk</h2>
    <img th:src="@{/images/pizzeria_logo.png}"/>
    <div class="container">
        <div class="items" th:each="item :${itemList}">
            <td th:text="${item.product.getName()}"></td>
            <td th:text="${item.getQuantity()}"></td>

        </div>

        <div class="shopping-cart">
            <h3>łączna cena</h3>
            <tr th:text="${totalPrice}"></tr>
        </div>

        <div class="shoppin_cart" >

            <form action="/order/order" method="get">
                <button>Zamawiam</button>
            </form>

        </div>


    </div>

</body>
</html>